@import '../../../../styles/variables';

.days {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	width: 100%;
	background: var(#{--components-background-default});
	box-shadow: $box-shadow;
	border-radius: 0 0 $border-radius $border-radius;
}

.card {
	display: flex;
	flex-direction: column;
	background: var(#{--card-background-default});
	border-radius: 10px;
	padding: 10px;
	width: 140px;
	
	transition: 0.3s;
	cursor: pointer;

	.day {
		font-size: 18px;
		margin-bottom: 7px;
		color: var(#{--text-color-default});
	}

	.day__info {
		font-size: 14px;
		color: var(#{--text-color-default});
		margin-bottom: 12px;
	}

	.day__img {
		margin-bottom: 12px;
	}

	.temp__day {
		font-size: 18px;
		color: var(#{--text-color-default});
	}

	.temp__night {
		font-size: 13px;
		color: $base-color;
		margin-bottom: 6px;
	}

	.info {
		font-size: 13px;
		color: $base-color;
	}

	&:hover {
		box-shadow: var(#{--card-box-shadow-default});
	}
}

.tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.tabs__wrapper {
	display: flex;
}

.cancel, .tab {
	display: flex;
	align-items: center;
	padding: 9px 20px;
	background-color: var(#{--components-background-default});
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

	font-size: 18px;
	color: var(#{--text-color-default});
}

.tab {
	&.active {
		background-color: $primary-color;
		color: #fff;
	}
}

.cancel {
	margin-right: 0;
}